.question
{
    font-size: 1.2rem;
    width: 60%;
    margin: 8rem auto;
}

.endQuiz-btn
{
    padding: 0.6rem;
    float: right;
    display: block;
    background-color: #DC3545;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    border: 1px solid white;
    color: aliceblue;
}
